MoviesApp/MoviesApp.AppTier.Bridge/Service References/BizService/BizService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57116/BizService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MoviesApp.Models" />
  <xs:element name="GetActorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetActorByIdResult" nillable="true" type="q1:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetAllActorsResult" nillable="true" type="q2:ArrayOfActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetByNameResult" nillable="true" type="q3:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="actor" nillable="true" type="q4:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="CreateActorResult" nillable="true" type="q5:Actor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorsByString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actorstring" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorsByStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetActorsByStringResult" nillable="true" type="q6:ArrayOfActor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetMovieByIdResult" nillable="true" type="q7:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetAllMoviesResult" nillable="true" type="q8:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetByTitleResult" nillable="true" type="q9:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="omdbmovie" nillable="true" type="q10:OmdbMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="CreateMovieResult" nillable="true" type="q11:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorTagById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorTagByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetActorTagByIdResult" nillable="true" type="q12:ActorTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActorTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActorTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetAllActorTagsResult" nillable="true" type="q13:ArrayOfActorTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActorTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="actortag" nillable="true" type="q14:ActorTag" />
        <xs:element minOccurs="0" name="actorid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActorTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="CreateActorTagResult" nillable="true" type="q15:ActorTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActorTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="actortag" nillable="true" type="q16:ActorTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActorTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="UpdateActorTagResult" nillable="true" type="q17:ActorTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActorTagRelationship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="actortag" nillable="true" type="q18:ActorTag" />
        <xs:element minOccurs="0" name="actorid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActorTagRelationshipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieTagById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieTagByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetMovieTagByIdResult" nillable="true" type="q19:MovieTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetByMovieResult" nillable="true" type="q20:ArrayOfMovieTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovieTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="GetAllMovieTagsResult" nillable="true" type="q21:ArrayOfMovieTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovieTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="movietag" nillable="true" type="q22:MovieTag" />
        <xs:element minOccurs="0" name="movieid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovieTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="CreateMovieTagResult" nillable="true" type="q23:MovieTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="movietag" nillable="true" type="q24:MovieTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="UpdateMovieTagResult" nillable="true" type="q25:MovieTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieTagRelationship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MoviesApp.Models" minOccurs="0" name="movietag" nillable="true" type="q26:MovieTag" />
        <xs:element minOccurs="0" name="movieid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieTagRelationshipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>