MoviesApp/MoviesApp.AppTier.Bridge/Service References/BizService/BizService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoviesApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoviesApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Actor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActorId" type="xs:int" />
      <xs:element minOccurs="0" name="ActorTags" nillable="true" type="tns:ArrayOfActorTag" />
      <xs:element minOccurs="0" name="Favorited" type="xs:int" />
      <xs:element minOccurs="0" name="Movies" nillable="true" type="tns:ArrayOfMovie" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Actor" nillable="true" type="tns:Actor" />
  <xs:complexType name="ArrayOfActorTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActorTag" nillable="true" type="tns:ActorTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActorTag" nillable="true" type="tns:ArrayOfActorTag" />
  <xs:complexType name="ActorTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActorTag" nillable="true" type="tns:ActorTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="TagDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="ArrayOfMovie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovie" nillable="true" type="tns:ArrayOfMovie" />
  <xs:complexType name="Movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actors" nillable="true" type="tns:ArrayOfActor" />
      <xs:element minOccurs="0" name="Awards" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Favorited" type="xs:int" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImdbId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImdbRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImdbVotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metascore" type="xs:int" />
      <xs:element minOccurs="0" name="MovieTags" nillable="true" type="tns:ArrayOfMovieTag" />
      <xs:element minOccurs="0" name="Plot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poster" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Released" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Watched" type="xs:int" />
      <xs:element minOccurs="0" name="Writer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movie" nillable="true" type="tns:Movie" />
  <xs:complexType name="ArrayOfActor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Actor" nillable="true" type="tns:Actor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActor" nillable="true" type="tns:ArrayOfActor" />
  <xs:complexType name="ArrayOfMovieTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovieTag" nillable="true" type="tns:MovieTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovieTag" nillable="true" type="tns:ArrayOfMovieTag" />
  <xs:complexType name="MovieTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MovieTag" nillable="true" type="tns:MovieTag" />
  <xs:complexType name="OmdbMovie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Awards" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImdbId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImdbRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImdbVotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metascore" type="xs:int" />
      <xs:element minOccurs="0" name="Plot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poster" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Released" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Writer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OmdbMovie" nillable="true" type="tns:OmdbMovie" />
</xs:schema>